@import "./media";
@include media(1400px);
@include media(1200px);
@include media(992px);
@include media(768px);
@include media(540px);
@include media(539px);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: SF;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: SF;
  src: url(./../font/SF-Pro-Display-Light.otf);
  src: url(./../font/SF-Pro-Display-Light.eot);
  src: url(./../font/SF-Pro-Display-Light.ttf);
  src: url(./../font/SF-Pro-Display-Light.woff);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
